.icon {
  height: 4vmax;
  width: 4vmax;
  border-radius: 5rem;
  background-color: var(--bg);
  padding: 0.4rem;
  margin-left: 5px;
}

.deluxe-pill {
  border-radius: 10rem;
  white-space: nowrap;
  margin-left: 0.5rem;
  padding: 4px 6px 4px 8px;
}

.logo {
  height: 3.5vmax;
  width: 3.5vmax;
}

@media (min-width: 900px) {
  .icon {
    height: 4.5vmax;
    width: 4.5vmax;
  }

  .logo {
    height: 4.5vmax;
    width: 4.5vmax;
  }
}

@media (min-width: 1500px) {
  .icon {
    height: 6vmax;
    width: 6vmax;
  }

  .logo {
    height: 6vmax;
    width: 6vmax;
  }
}

@media (min-width: 2000px) {
  .icon {
    height: 4vmax;
    width: 4vmax;
  }

  .logo {
    height: 4vmax;
    width: 4vmax;
  }
}
