@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");

/* Greyscale Palette */
/* https://coolors.co/palette/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529 */
body {
  /* Color Variables */
  --bg: #212529;
  --text: #f8f9fa;
  --white-text: #f8f9fa;
  --black-text: #212529;
  --nav-link-unselected: #6c757d;
  --nav-link-hover: #dee2e6;
  --nav-bar-color: #343a40;
  --dark-slider-light-mode: #e9c46a;

  --js-yellow: #ffd600;
  --vue-green: #42b883;
  --node-green: #215732;
  --react-blue: #5fd9fb;
  --ts-blue: #3178c6;
  --css-blue: #264de4;
  --python-yellow: #ffde57;
  --angular-red: #b52e31;
  --arango-green: #556739;

  --upside-purple: #8e4eca;
  --deloitte-green: #86bc25;
  --truebill-blue: #56a6f8;
  --spaceship-purple: #603aa1;
  --spaceship-red: #c8102e;

  /* --xs-break: 375px; */
  /* --s-break: 500px; */
  /* --m-break: 750px; */
  /* --l-break: 1000px; */
  /* --xl-break: 1500px; */

  /* Fonts */
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 1s ease;
  font-family: "Kanit", sans-serif;
}

.body-light {
  --text: #212529;
  --bg: #f8f9fa;
  --nav-link-unselected: #adb5bd;
  --nav-link-hover: #6c757d;
  --nav-bar-color: #e9ecef;
}

h1 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-size: 7.5vmax;
}

h2 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-size: 4vmax;
}

h3 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-size: 2.5vmax;
  line-height: 2rem;
  text-align: center;
}

h4 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-size: 2.25vmax;
  line-height: 2rem;
  text-align: center;
}

h5 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-size: 1.5vmax;
  line-height: 1.3rem;
  text-align: center;
}

p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-size: 1.3vmax;
}

.pill {
  border-radius: 10rem;
  padding: 0 0.5rem;
  white-space: nowrap;
}

@media (min-width: 500px) {
  h1 {
    font-size: 10vmax;
  }

  h2 {
    font-size: 5vmax;
  }

  h3 {
    font-size: 3vmax;
    line-height: 2.5rem;
  }

  h4 {
    font-size: 2.25vmax;
    line-height: 1.25rem;
  }

  h5 {
    font-size: 1.75vmax;
    line-height: 1.25rem;
  }

  p {
    font-size: 1.3vmax;
  }
}

@media (min-width: 750px) {
  h1 {
    font-size: 10vmax;
  }

  h2 {
    font-size: 5vmax;
  }

  h3 {
    font-size: 3vmax;
    line-height: 3.5rem;
  }

  h4 {
    font-size: 2.5vmax;
    line-height: 1.5rem;
  }

  h5 {
    font-size: 2vmax;
    line-height: 1.75rem;
  }

  p {
    font-size: 1.3vmax;
  }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 12vmax;
  }

  h2 {
    font-size: 6vmax;
  }

  h3 {
    font-size: 2.5vmax;
    line-height: 3rem;
  }

  h4 {
    font-size: 1.75vmax;
    line-height: 1.25rem;
  }

  h5 {
    font-size: 1.25vmax;
    line-height: 1.5rem;
  }

  p {
    font-size: 1.3vmax;
  }
}

.icon-main {
  fill: var(--text);
  transition: background-color, color 1s ease;
}

.center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-spread {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Animations */

@keyframes smolShakeUp {
  0% {
    transform: translateX(0rem);
  }
  50% {
    transform: translateX(0.5rem);
  }
  100% {
    transform: translateX(0rem);
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s ease;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* brand colors */

.winter-sunset {
  color: var(--white-text);
  background-image: linear-gradient(
    45deg,
    var(--spaceship-purple),
    var(--spaceship-red)
  );
}

.react-blue {
  background-color: var(--react-blue);
  color: var(--black-text);
}

.ts-blue {
  background-color: var(--ts-blue);
  color: var(--black-text);
}

.css-blue {
  background-color: var(--css-blue);
  color: var(--white-text);
}

.js-yellow {
  background-color: var(--js-yellow);
  color: var(--black-text);
}

.vue-green {
  background-color: var(--vue-green);
  color: var(--black-text);
}

.node-green {
  background-color: var(--node-green);
  color: var(--white-text);
}

.python-yellow {
  background-color: var(--python-yellow);
  color: var(--black-text);
}

.angular-red {
  background-color: var(--angular-red);
  color: var(--white-text);
}

.arango-green {
  background-color: var(--arango-green);
  color: var(--white-text);
}

.truebill-blue {
  background-color: var(--truebill-blue);
  color: var(--black-text);
}

.deloitte-green {
  background-color: var(--deloitte-green);
  color: var(--black-text);
}

.upside-purple {
  background-color: var(--upside-purple);
  color: var(--white-text);
}
